<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt.Net-Next" version="4.0.3" targetFramework="net48" />
  <package id="BouncyCastle.Cryptography" version="2.4.0" targetFramework="net48" />
  <package id="DevExpress.Charts" version="24.1.5-pre-24217" targetFramework="net48" />
  <package id="DevExpress.Charts.Core" version="24.1.5-pre-24217" targetFramework="net48" />
  <package id="DevExpress.CodeParser" version="24.1.5-pre-24217" targetFramework="net48" />
  <package id="DevExpress.Dashboard.Core" version="24.1.5-pre-24217" targetFramework="net48" />
  <package id="DevExpress.Data" version="24.1.5-pre-24217" targetFramework="net48" />
  <package id="DevExpress.DataAccess" version="24.1.5-pre-24217" targetFramework="net48" />
  <package id="DevExpress.DataVisualization.Core" version="24.1.5-pre-24217" targetFramework="net48" />
  <package id="DevExpress.Drawing" version="24.1.5-pre-24217" targetFramework="net48" />
  <package id="DevExpress.Gauges.Core" version="24.1.5-pre-24217" targetFramework="net48" />
  <package id="DevExpress.Map.Core" version="24.1.5-pre-24217" targetFramework="net48" />
  <package id="DevExpress.Office.Core" version="24.1.5-pre-24217" targetFramework="net48" />
  <package id="DevExpress.Pdf.Core" version="24.1.5-pre-24217" targetFramework="net48" />
  <package id="DevExpress.Pdf.Drawing" version="24.1.5-pre-24217" targetFramework="net48" />
  <package id="DevExpress.PivotGrid.Core" version="24.1.5-pre-24217" targetFramework="net48" />
  <package id="DevExpress.Printing.Core" version="24.1.5-pre-24217" targetFramework="net48" />
  <package id="DevExpress.Reporting.Core" version="24.1.5-pre-24217" targetFramework="net48" />
  <package id="DevExpress.RichEdit.Core" version="24.1.5-pre-24217" targetFramework="net48" />
  <package id="DevExpress.RichEdit.Export" version="24.1.5-pre-24217" targetFramework="net48" />
  <package id="DevExpress.Sparkline.Core" version="24.1.5-pre-24217" targetFramework="net48" />
  <package id="DevExpress.SpellChecker.Core" version="24.1.5-pre-24217" targetFramework="net48" />
  <package id="DevExpress.TreeMap" version="24.1.5-pre-24217" targetFramework="net48" />
  <package id="DevExpress.TreeMap.Core" version="24.1.5-pre-24217" targetFramework="net48" />
  <package id="DevExpress.Web" version="24.1.5-pre-24217" targetFramework="net48" />
  <package id="DevExpress.Web.Dashboard" version="24.1.5-pre-24217" targetFramework="net48" />
  <package id="DevExpress.Web.Dashboard.Common" version="24.1.5-pre-24217" targetFramework="net48" />
  <package id="DevExpress.Web.Resources" version="24.1.5-pre-24217" targetFramework="net48" />
  <package id="DevExpress.Web.Themes" version="24.1.5-pre-24217" targetFramework="net48" />
  <package id="DevExpress.Web.Visualization" version="24.1.5-pre-24217" targetFramework="net48" />
  <package id="DevExpress.Win.Design" version="24.1.5-pre-24217" targetFramework="net48" />
  <package id="DevExpress.Xpo" version="24.1.5-pre-24217" targetFramework="net48" />
  <package id="Google.Apis" version="1.68.0" targetFramework="net48" />
  <package id="Google.Apis.Auth" version="1.68.0" targetFramework="net48" />
  <package id="Google.Apis.Core" version="1.68.0" targetFramework="net48" />
  <package id="Imagekit" version="4.0.2" targetFramework="net48" />
  <package id="MailKit" version="4.7.1.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="MimeKit" version="4.7.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="RandomString4Net" version="1.8.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.CodeDom" version="7.0.0" targetFramework="net48" />
  <package id="System.Formats.Asn1" version="8.0.1" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Management" version="7.0.2" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>